.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

config.json
local_cache.db
.env

logs/
snapshots/
build/
dist/
release/
*.spec

SCT/bin/
SCT/out/
SCT/.git/
SCT/.idea/
SCT/.metadata/
SCT/reportes/.metadata/
SCT/dataBaseBackup*.sql
*.class
